<div class="container mt-4">
  <h2>Animes</h2>
  <p>Total Episodes: {{ totalEpisodes }}</p>
  <p>Average Rating: {{ averageRating }}</p>
  <div class="row">
    <div class="col-md-4" *ngFor="let anime of animes">
      <div class="card">
        <img [src]="anime.img" class="card-img-top" [alt]="anime.name">
        <div class="card-body">
          <h5 class="card-title">{{ anime.name }}</h5>
          <p class="card-text">Episodes: {{ anime.episode }}</p>
          <p class="card-text">Rating: {{ anime.Rating }}</p> 
          <button class="btn btn-primary" (routerLink)="'/animes/' + anime.id">More Information</button>
        </div>
      </div>
    </div>
  </div>
</div>